.city {
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../images/city.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
  
    .intro {
      margin: 70px;
      color: white;
      width: 600px;
  
      h2 {
        margin: 20px 0;
        font-size: 2em;
      }

      .divider-white {
        width: 84px;
        height: 2px;
        background: white;
        margin: 20px 0;
      }
  
      img:nth-of-type(2) {
        width: 75px;
        margin: 20px 0;
      }
  
      p {
        font-size: 0.8em;
        line-height: 20px;
      }
  
      button {
        background: transparent;
        color: white;
        font-weight: bolder;
        padding: 10px;
        border: 2px solid white;
        margin: 30px 0;
      }
  
      button:hover {
        color: $color-black;
        background: $color-light-grey;
        cursor: pointer;
      }
    }
  
    .form-1 {
      margin: 70px;
      width: 360px;
  
      .head {
        background: $color-light-grey;
        padding: 20px 25px;
        text-align: center;
        font-size: 0.9em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
  
      .inside-form {
        background: white;
        padding: 20px 60px;
  
          input[type=text] {
            padding: 10px;
            border: 0;
            border-bottom:1px solid $color-black-2;
            width: 100%;
          }
  
          input[type=radio] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        
            width: 15px;
            height: 15px;
            top: 3px;
            left: -5px;
            border: 1px solid $color-green;
            border-radius: 100px;
            position: relative;
          }
        
          label {
            margin-right: 10px;
          }
  
          input[type=radio]:checked + label {
            font-weight: bold;
          }
        
          input[type=radio]:before {
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            background: $color-green;
            border-radius: 100px;
            top: 3px;
            left: 3px;
            transform: scale(0);
            transition: 0.3s;
          }
        
          input[type=radio]:checked:before{
            transform: scale(1);
          }
      }
  
      p {
        font-weight: bolder;
        padding: 20px 0;
      }
  
      button {
        color: white;
        background: $color-green;
        width: 100%;
        border: none;
        padding: 20px;
        font-weight: bolder;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
  
      button:hover {
        cursor: pointer;
        color: $color-black;
        background: $color-green;
      }
    }
  }