.end {
    background: $color-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  
    i {
      height: 20px;
      width: 20px;
      margin: 0 50px;
      color: $color-orange;
    }
  
    p {
      font-size: 0.7em;
      color: $color-grey;
      margin-right: 100px;
    }
  }